<div class="row">
    <h2>products in: {{categoryName}}</h2>
    <div class="col-sm-4 col-lg-4 col-md-4">
        Manufacture: 
        <select class="form-control" style="width: 66%; display: inline-block;" ng-model="selectedManufacture">
            <option value="all" {{selectedManufacture === "all" ? selected="": ""}}>All Manufactures</option>
            <option ng-repeat="manufacture in manufactures[categoryIndex][categoryName]">{{manufacture.make}} ({{manufacture.total}})</option>
        </select>        
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        Sort By: 
        <select class="form-control" style="width: 79%; display: inline-block;" ng-model="selectedPriceFilter" 
            ng-options="opt as opt.label for opt in priceFilters">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in products | limitTo:9">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">{{product.price | currency:'R'}}</h4>
                <h4><a href="#">{{product.name}}</a>
                </h4>
                <p>{{product.snippet}}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">Stock: <img ng-src="/images/{{product.stock ? 'green-circle_15x15.png': 'yellow-circle_15x15.png'}}" style="width: 15px; height: 15px;"></p>
                <p>{{product.manufacture}}</p>
            </div>
        </div>
    </div>

</div>
